<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        {% for person in persons %}

        <ul>
            <a href="{% url 'person_update' person.pk %}">{{ person }}</a>
            <a href="{% url 'person_delete' person.pk %}">Deletar</a>
        </ul>

        {% endfor %}

         <a href="{% url 'person_create' %}">Novo Cliente</a>
</body>
</html>