<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Tem certeza que deseja deletar o registro abaixo? {{person}}</h1>
    <form metho="POST" enctype="multipart/form-data"/>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Delete</button>
</body>
</html>